img.avatar { margin-bottom: 30px;  width:30px; height:30px; }

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.thumb-img{
   object-fit: cover;
   overflow: hidden;
   height: 365px; 
   width : 365px;
}  