img.avatar { margin-bottom: 30px;  width:300px; height:300px; }

img.grid { margin-bottom: 30px;  width:30px; height:30px; }
 

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
