<div class="header">


<ul class="nav nav-pills pull-right">
  	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">About<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li class="{{ page.purpose }}"><a href="site.baseurl/purpose" title ="Purpose">Purpose</a></li>
			<li class="{{ page.steeringCommittee }}"><a href="site.baseurl/committee" title ="Steering Committee">Steering Committee</a></li>
			<li class="{{ page.faq }}"><a href="site.baseurl/faq" title ="FAQ">FAQ</a></li>
		</ul>
	</li>
  	<li class="{{ page.directory }}"><a href="site.baseurl/directory" title ="Directory">Directory</a></li>
	<li class="{{ page.events }}"><a href="site.baseurl/events" title="Events">Events</a></li>
	<li class="{{ page.resources }}"><a href="site.baseurl/resources" title="Resources">Resources</a></li>
</ul>

<h3 class="text-muted" ><a href="site.baseurl/">W+GMinAG</a></h3>

</div> <!-- /header -->